* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-first: #d9fb69;
    --bg-second: #ecfcd5;
    --bg-primary-black: #212121;
    --bg-primary-secondary: #687083;
    --bg-primary-icon: #9aa2b1;
    --bg-primary-outline: #d1d5dc;
    --bg-primary-inline: #e4e7eb;
    --bg-primary-light: #f0f2f5;
    --bg-primary-surface: #f9fafb;
    --bg-primary-white: #ffffff;
}

/* Font Weight */

.extra-light {
    font-weight: 200;
}

.light {
    font-weight: 300;
}

.regular {
    font-weight: 400;
}

.medium {
    font-weight: 500;
}

.semibold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

/* Navbar */

.navbar {
    height: 80px;
}

/* Hero */

.hero {
    background-color: var(--bg-second);
    height: 560px;
}

.hero h1 {
    color: var(--bg-second);
    -webkit-text-stroke: 2px var(--bg-primary-black);
    font-size: 136px;
    font-weight: 700;
    line-height: 140px;
    padding-top: 40px;
}

.hero p {
    font-size: 24px;
    font-weight: 600;
}

.lil-text {
    padding: 100px 270px 0 270px;
}

/* Pembatas */

.pembatas {
    background-color: #212121;
    color: var(--bg-primary-white);
    padding-top: 6px;
    padding-bottom: 6px;
}

.pembatas p {
    font-size: 28px;
    font-weight: 700;
    margin: 0;
}

/* Experience */

.experience {
    background-color: var(--bg-primary-black);
    color: var(--bg-primary-white);
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 40px auto;
}

.container-timeline {
    padding: 0px 50px;
    position: relative;
    width: 50%;
}

.text-box {
    padding: 18px 24px;
    background-color: var(--bg-primary-white);
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}

.left-container {
    left: 0;
}

.right-container {
    left: 50%;
    text-align: end;
}

.container-timeline img {
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
}

.right-container img {
    left: -20px;
}

.timeline::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 100%;
    background: var(--bg-first);
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: 0;
}

.text-box h3 {
    font-weight: 600;
    margin: 0 0 8px 0;
}

.text-box small {
    display: inline-block;
    margin: 0 0 8px 0;
    font-size: 14px;
}

.text-box p {
    margin: 0;
    font-weight: 600;
}

.left-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 16px solid var(--bg-primary-white);
    right: -15px;
}

.right-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 16px solid var(--bg-primary-white);
    left: -15px;
}

/* Carousel */

.my-carousel {
    height: 560px;
}

.my-carousel2 {
    padding-bottom: 30px;
}

.carousel-title-caption {
    background-color: var(--bg-first);
    color: var(--bg-primary-black);
    display: inline-block;
    margin: 0;
}

.carousel-title-caption h5 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 700;
}

.carousel-text-caption {
    background-color: var(--bg-primary-white);
    color: var(--bg-primary-black);
    display: inline-block;
    margin: 0;
}

.carousel-text-caption p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 500;
}

@media screen and (max-width: 576px) {
    /* Navbar */
    .navbar {
        height: 64px;
    }

    /* Hero */
    .hero {
        height: 280px;
    }

    .hero h1 {
        -webkit-text-stroke: 1px var(--bg-primary-black);
        font-size: 46px;
        line-height: 56px;
        padding-top: 20px;
    }

    .hero p {
        font-size: 12px;
    }

    .lil-text {
        padding: 88px 12px 0 24px;
    }

    /* Pembatas */
    .pembatas {
        padding: 6px 0px 6px 0px;
    }

    .pembatas p {
        font-size: 12px;
    }

    /* About Me */
    #about .container h2 {
        font-size: 20px;
    }

    #about .container p {
        font-size: 16px;
    }

    /* Experience */
    #pengalaman .container {
        margin: 0;
        padding: 0;
    }

    .timeline {
        margin: 40px;
    }

    .timeline::after {
        left: 0px;
        margin: 0;
    }

    .container-timeline {
        width: 100%;
        margin-top: 12px;
        padding-right: 0px;
        padding-left: 40px;
    }

    .text-box h3 {
        font-size: 16px;
        margin-bottom: 4px;
    }

    .text-box small {
        font-size: 12px;
        margin-bottom: 4px;
    }

    .text-box p {
        font-size: 14px;
    }

    .right-container {
        left: 0;
        text-align: start;
    }

    .left-container img,
    .right-container img {
        left: -16px;
    }

    .left-container-arrow,
    .right-container-arrow {
        /* border-top: 25px solid transparent;
        border-bottom: 25px solid transparent; */
        top: 38px;
        border-right: 16px solid #ffffff;
        border-left: 0;
        left: -10px;
    }

    /* Carousel */
    .my-carousel {
        height: 200px;
        padding-right: 18px;
        padding-left: 18px;
    }

    .my-carousel img {
        border-radius: 6px;
    }

    .my-carousel2 {
        padding-bottom: 10px;
    }

    #carousel .container {
        padding: 0;
    }

    #pengalaman h2 {
        font-size: 20px;
    }
}
